button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    height: 70px;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid gray;
    background-color: white;
}

#equals {
    background-color: rgb(255, 119, 0);
    color: white;
    border: none;
}

#add, #subtract, #multiply, #divide {
    color: rgb(255, 119, 0);
}