#display {
    text-align: right;
    height: 55px;
    width: 100%;
    padding: .5rem;
    font-weight: bold;
    font-size: 22px;
    background-color: white;
    color: rgb(255, 106, 0);
    border: 1px solid black;
}

#display:focus {
    outline: none;
}